.footer {
  padding-inline: 20px;
  border-radius: $radius-48;
  color: $text-wild-blue-yonder;
  margin-block-end: 24px;
  .footer-top {
    display: grid;
    gap: 20px;
    .footer-brand {
      .footer-text {
        font-size: $fontSize-6;
      }
      .footer-text:not(.address) {
        margin-block: 20px;
      }
      .footer-list-title {
        margin-block-end: 2px;
      }
    }
    .footer-list {
      .footer-list-title {
        color: $text-columbia-blue;
        font-size: $fontSize-3;
        margin-block-end: 30px;
      }
      ul {
        columns: 2;
        .footer-link {
          margin-block-end: 12px;
        }
      }
      .input-wrapper {
        position: relative;
        margin-block-end: 24px;
        .input-field {
          padding: 12px;
          padding-inline-start: 30px;
          border-block-end: 1px solid $text-wild-blue-yonder;
          font-size: $fontSize-6;
          &::-webkit-input-placeholder {
            color: inherit;
            opacity: 0.5;
          }
        }
        mat-icon {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 24px;
        }
      }
    }
  }

  .footer-bottom {
    border-block-start: 1px solid $border-prussian-blue;
    padding-block: 50px;
    .copyright {
      text-align: center;
      margin-block-end: 15px;
      .copyright-link {
        display: inline-block;
        color: $text-carolina-blue;
        font-style: italic;
      }
    }
    .social-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      .social-link {
        display: flex;
        align-items: center;
        gap: 8px;
        transition: $transition-1;
        &:is(:hover, :focus-visible) {
          color: $text-carolina-blue;
          transform: translateY(-2px);
        }
      }
    }
  }
}
