<section class="topics" id="topics" aria-labelledby="topic-label">
    <div class="container">

        <div class="card topic-card">

            <div class="card-content">

                <h2 class="headline headline-2 section-title card-title" id="topic-label">
                    Hot topics
                </h2>

                <p class="card-text">
                    Don't miss out on the latest news about Travel tips, Hotels review, Food guide...
                </p>

                <div class="btn-group">
                    <button class="btn-icon" aria-label="previous" data-slider-prev>
                        <mat-icon>arrow_back</mat-icon>
                        <!-- <ion-icon name="arrow-back" aria-hidden="true"></ion-icon> -->
                    </button>

                    <button class="btn-icon" aria-label="next" data-slider-next>
                        <mat-icon>arrow_forward</mat-icon>
                        <!-- <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon> -->
                    </button>
                </div>

            </div>

            <div class="slider" data-slider>
                <ul class="slider-list" data-slider-container>

                    <li class="slider-item">
                        <a href="#" class="slider-card">

                            <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                                <img src="./assets/images/topic-1.png" width="507" height="618" loading="lazy"
                                    alt="Sport" class="img-cover">
                            </figure>

                            <div class="slider-content">
                                <span class="slider-title">Sport</span>

                                <p class="slider-subtitle">38 Articles</p>
                            </div>

                        </a>
                    </li>

                    <li class="slider-item">
                        <a href="#" class="slider-card">

                            <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                                <img src="./assets/images/topic-2.png" width="507" height="618" loading="lazy"
                                    alt="Travel" class="img-cover">
                            </figure>

                            <div class="slider-content">
                                <span class="slider-title">Travel</span>

                                <p class="slider-subtitle">63 Articles</p>
                            </div>

                        </a>
                    </li>

                    <li class="slider-item">
                        <a href="#" class="slider-card">

                            <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                                <img src="./assets/images/topic-3.png" width="507" height="618" loading="lazy"
                                    alt="Design" class="img-cover">
                            </figure>

                            <div class="slider-content">
                                <span class="slider-title">Design</span>

                                <p class="slider-subtitle">78 Articles</p>
                            </div>

                        </a>
                    </li>

                    <li class="slider-item">
                        <a href="#" class="slider-card">

                            <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                                <img src="./assets/images/topic-4.png" width="507" height="618" loading="lazy"
                                    alt="Movie" class="img-cover">
                            </figure>

                            <div class="slider-content">
                                <span class="slider-title">Movie</span>

                                <p class="slider-subtitle">125 Articles</p>
                            </div>

                        </a>
                    </li>

                    <li class="slider-item">
                        <a href="#" class="slider-card">

                            <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                                <img src="./assets/images/topic-5.png" width="507" height="618" loading="lazy"
                                    alt="Lifestyle" class="img-cover">
                            </figure>

                            <div class="slider-content">
                                <span class="slider-title">Lifestyle</span>

                                <p class="slider-subtitle">78 Articles</p>
                            </div>

                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </div>
</section>