<section class="home">
    <div class="home__container container-layout grid-layout">
        <div class="home__img">
            <img src="./assets/images/hero-banner.png" alt=">People illustrations by Storyset" />
        </div>

        <div class="home__data">
            <h1 class="home__title">Meditation and Mindfulness.</h1>
            <p class="home__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
                molestias consequuntur. Incidunt, voluptates hic. Ab voluptates
                exercitationem dolor ex autem aut vitae, corporis voluptatum fuga
                eos quasi quisquam vero maiores?</p>
            <a href="#" class="button">Learn More</a>
        </div>
    </div>
</section>